{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "unused-imports"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@",
            "./src/"
          ]
        ],
        "extensions": [
          ".ts",
          ".js"
        ]
      }
    }
  },
  "rules": {
    "no-console": 1,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "crlf",
        "printWidth": 80,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none"
      }
    ],
    "unused-imports/no-unused-imports": "error",
    "import/first": "error",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "external",
            "position": "after"
          }
        ]
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "./**",
          "../**"
        ]
      }
    ],
    "@typescript-eslint/no-unused-vars": "error"
  }
}